body{
    font-family: "Helvetica", "Avenir";
    background: linear-gradient(180deg, #F6FAFD 0%, #FFF 19.4%);
    margin: 0;
}

a{
    text-decoration: none;
    color: #4B5D68;
}

li{
    display: block;
}